<div class="nav">
    <div class="titulo-pagina">
        <a ng-href="#!/"><img src="https://files.slack.com/files-tmb/T4WL4EAU8-F63DLBYD8-a0c2a7ec95/logo_churras_480.png" alt="" width="100vw" height="60vw"></a>
    </div>
    <div class="borda-inferior">
        <span class="menu-superior-item"><a ng-href="#!/editar">Olá, {{usuarioLogado.nome.split(" ")[0]}}</a></span>
        <span class="menu-superior-item"><a ng-href="#!/">Home</a></span>
        <span class="menu-superior-item menu-selected"><a ng-href="#!/amigos">Amigos</a></span>
        <span class="menu-superior-item"><a ng-href="#!/buscar">Buscar Amigos</a></span>
        <span class="menu-superior-item"><a href="" ng-click="logout()">Logout</a></span>
    </div>
</div>

<div class="corpo">

    <!--h1><button class="search-button"><a ng-href="#!/buscar">Encontrar amigos ></button></a></h1>

    <h1 class="indice" style="margin-top:80px;">Solicitações de amizade</h1>
    <div ng-if="solicitacoes.length == 0" class="info-amizades">Não há nenhuma solicitação no momento</div>
    <div class="lista2" ng-if="solicitacoes.length > 0" >
        <div class="socials" ng-repeat="solicitacao in solicitacoes">
            <div class="i-lista2">     
                <img class="capa" ng-src="{{solicitacao.fotoPerfil}}">
                <div class="nome-usuario"><a ng-href="#!/usuario/{{solicitacao.id}}">{{solicitacao.nome}}</a></div>
                <div class="float-right" style="margin-right: 1vw; margin-top: 5px;"><button ng-click="recusarSolicitacao(solicitacao.id)"><a href="">Recusar</a></button></div>
                <div class="float-right" style="margin-right: 1vw; margin-top: 5px;"><button ng-click="aceitarSolicitacao(solicitacao.id)"><a href="">Aceitar</a></button></div>
            </div>
        </div>
    </div-->


    <h1 class="indice" style="margin-top:80px;">Todos amigos</h1>

    <div ng-if="amizades.length == 0" class="info-amizades">Você ainda não tem nenhuma amigo</div>
    <div ng-if="amizades.length > 0" class="lista" style="width:30vw !important; margin-bottom: 50px;">
        <div scale-resize class="socials" ng-repeat="amizade in amizades">
            <div class="i-lista">     
                <img class="capa" ng-src="{{amizade.fotoPerfil}}">
                <div class="nome-usuario"><a ng-href="#!/usuario/{{amizade.id}}">{{amizade.nome}}</a></div>
            </div>
        </div>
    </div>

    <div class="pages">
        <button class="float-left"><a href="" ng-click="voltar()">Anterior</a></button>
        <button class="float-right"><a href="" ng-click="avancar()">Próximo</a></button>
    </div>
</div>
