<div class="nav">
    <div class="titulo-pagina">
        <h1><a ng-href="#!/">FreelaBooks.NET</a></h1>
    </div>
    <div class="borda-inferior">
        <span class="float-right"><a ng-if="!logado" ng-href="#!/login">Login</a></span>
        <span class="float-right" ng-if="logado">Olá, {{usuario.Nome}}</span>
    </div>
</div>

<div class="corpo">
    <form class="login">
        <h1 class="login-titulo">Assinar a Newsletter</h1>
        <div class="login-subtitulo">Nós não mandaremos spam nem venderemos seu e-mail (mentira).</div>
        <div class="row-login">
            <span class="label-login">E-mail</span>
            <input class="input-login" type="e-mail">
        </div>
        <div class="row-login">
            <button class="login-button">Assinar</button>
        </div>
    </form>
</div>