<div class="nav">
    <div class="titulo-pagina">
        <a ng-href="#!/"><img src="https://files.slack.com/files-tmb/T4WL4EAU8-F63DLBYD8-a0c2a7ec95/logo_churras_480.png" alt="" width="100vw" height="60vw"></a>
    </div>
    <div class="borda-inferior">
        <span class="menu-superior-item"><a ng-href="#!/editar">Olá, {{usuarioLogado.nome.split(" ")[0]}}</a></span>
        <span class="menu-superior-item"><a ng-href="#!/">Home</a></span>
        <span class="menu-superior-item"><a ng-href="#!/amigos">Amigos</a></span>
        <span class="menu-superior-item menu-selected"><a ng-href="#!/buscar">Buscar Amigos</a></span>
        <span class="menu-superior-item"><a href="" ng-click="logout()">Logout</a></span>
    </div>
</div>

<div class="corpo">

    <h1 class="indice" style="margin-top:80px;">Buscar amigos</h1>
    <div class="cabecalho-busca">
        <input class="busca-amigos" type="text" placeholder="Digite o nome" ng-model="busca.nome"></textarea>
        <button class="float-left" class="clear" ng-click="buscar()"><a href="">Buscar!</a></button>
    </div>

    <div class="lista">
        <div ng-if="nenhumEncontrado == true" class="info-amizades">Nenhum usuário encontrado</div>
        <div ng-if="nenhumEncontrado == false" scale-resize class="socials" ng-repeat="usuario in usuariosEncontrados">
            <div class="i-lista">     
                <img class="capa" ng-src="{{usuario.fotoPerfil}}">
                <div class="nome-usuario"><a ng-href="#!/usuario/{{usuario.id}}">{{usuario.nome}}</a></div>
                <div ng-if="usuario.status == 0" class="item-lista-usuarios"><button ng-click="enviarSolicitacao(usuario.id)"><a href="">Enviar solicitação</a></button></div>
                <div ng-if="usuario.status == 1" class="item-lista-usuarios">Solicitação enviada</div>
                <div ng-if="usuario.status == 2" class="item-lista-usuarios"><button ng-click="aceitarSolicitacao(usuario.id)"><a href="">Aceitar solicitação</a></button></div>
                <div ng-if="usuario.status == 3" class="item-lista-usuarios">Amigo</div>
            </div>
        </div>
    </div>
</div>
