<div class="nav">
    <div class="titulo-pagina">
        <a ng-href="#!/"><img src="http://image.ibb.co/f3eD8Q/logo_churras.png" alt="" width="100vw" height="60vw"></a>
    </div>
    <div class="borda-inferior">
        <span class="float-left">Olá, {{usuarioLogado.nome}}</span>
        <span class="center"><a ng-href="#!/crud">Área Administrativa</a></span>
        <span class="float-right"><a href="" ng-click="logout()">Logout</a></span>
    </div>
</div>

<div class="corpo">

    <h1 class="indice" style="margin-top:80px;">Buscar amigos</h1>
    <div class="cabecalho-busca">
        <input class="busca-amigos" type="text" placeholder="Digite o nome" ng-model="busca.nome"></textarea>
        <button class="float-left" class="clear" ng-click="buscar()"><a href="">Buscar!</a></button>
    </div>

    <div class="lista">
        <div scale-resize class="socials" ng-repeat="usuario in usuariosEncontrados">
            <div class="i-lista">     
                <img class="capa" ng-src="{{usuario.fotoPerfil}}">
                <div class="nome-usuario"><a ng-href="#!/usuario/{{usuario.id}}">{{usuario.nome}}</a></div>
                <div ng-if="usuario.status == 0" class="item-lista-usuarios"><button ng-click="enviarSolicitacao(usuario.id)"><a href="">Enviar solicitação</a></button></div>
                <div ng-if="usuario.status == 1" class="item-lista-usuarios">Solicitação enviada</div>
                <div ng-if="usuario.status == 2" class="item-lista-usuarios"><button ng-click="aceitarSolicitacao(usuario.id)"><a href="">Aceitar solicitação</a></button></div>
                <div ng-if="usuario.status == 3" class="item-lista-usuarios">Amigo</div>
            </div>
        </div>
    </div>
</div>
