<div class="nav">
    <div class="titulo-pagina">
        <h1><a ng-href="#!/">FreelaBooks.NET</a></h1>
    </div>
    <div class="borda-inferior">
        <span class="float-left"><a ng-href="#!/assinar">Assinar</a></span>
        <span ng-if="!logado" class="center"><a ng-href="#!/registrar">Registrar-se</a></span>
        <span ng-if="logado" class="center"><a ng-href="#!/crud">Área Administrativa</a></span>
        <span class="float-right"><a ng-if="!logado" ng-href="#!/login">Login</a></span>
        <span class="float-right" ng-if="logado">Olá, {{usuario.Nome}}</span>
    </div>
</div>

<div class="corpo">
    <div class="detalhe-pai">
        <h1 class="titulo-detalhes-livro">{{detalhes.nome}}</h1> 
            <img class="capa-detalhes-livro" ng-src="{{detalhes.fotoPerfil}}">
            <div class="detalhes"> 
                <div><strong>Nome:</strong> {{detalhes.nome}}</div>
                <div><strong>Data Nacimento:</strong> {{detalhes.dataNascimento}}</div>
                <div><strong>Gênero:</strong> {{info.genero}}</div>
                <div><strong>E-mail:</strong> {{detalhes.email}}</div>
                <div style="margin-top: 20px"><button ng-click="enviarSolicitacao()"><a href="">Enviar solicitação de amizade</a></button></div>
            </div>
        </div>
    </div>
</div>