<div class="nav">
    <div class="titulo-pagina">
        <h1><a ng-href="#!/">FreelaBooks.NET</a></h1>
    </div>
    <div class="borda-inferior">
        <span class="float-left"><a ng-href="#!/assinar">Assinar</a></span>
    </div>
</div>

<div class="corpo">
    <form class="login">
        <h1 class="login-titulo">Editar</h1>
        <div class="row-login">
            <span class="label-login">Foto</span>
            <input class="input-login" type="text" ng-model="usuario.fotoPerfil" placeholder="URL (opcional)">
        </div>
        <div class="row-login">
            <span class="label-login">Nome*</span>
            <input class="input-login" type="text" ng-model="usuario.nome" placeholder="Joaquim">
        </div>
        <div class="row-login">
            <span class="label-login">E-mail*</span>
            <input class="input-login" type="e-mail" ng-model="usuario.email" placeholder="exemplo@exemplo.com">
        </div>
        <div class="row-login">
            <span class="label-login">Nasc.*</span>
            <input class="input-login" type="text" ng-model="usuario.dataNascimento" placeholder="dd/mm/aaaa">
        </div>
        <div class="row-login">
            <span class="label-login">Gênero*</span>
            <select class="input-login" ng-model="usuario.sexo"> 
                <option value="n" selected>Não informado</option>
                <option value="m">Masculino</option>
                <option value="f">Feminino</option>
            </select>
        </div>
        <div class="row-login">
            <button class="login-button" ng-click="editar()"><a href="">Editar</a></button>
        </div>
    </form>
</div>