<div class="nav">
    <div class="titulo-pagina">
        <a ng-href="#!/"><img src="https://files.slack.com/files-tmb/T4WL4EAU8-F63DLBYD8-a0c2a7ec95/logo_churras_480.png" alt="" width="100vw" height="60vw"></a>
    </div>
    <div class="borda-inferior">
        <span class="float-left"><a ng-href="#!/editar">Olá, {{usuarioLogado.nome}}</a></span>
        <span class="center"><a ng-href="#!/amigos">Amigos</a></span>
        <span class="float-right"><a href="" ng-click="logout()">Logout</a></span>
    </div>
</div>

<div class="corpo">

    <img class="fotoPerfil" ng-src="{{usuarioLogado.fotoPerfil}}">
    <textarea rows="4" placeholder="Fale um pouco sobre seus sonhos, seus bifes, seu dia!" ng-model="post.texto"></textarea>
    <button class="button-publicar" ng-click="postar()"><a href="">Publicar!</a></button>

    <h1 class="indice" style="margin-top:80px;">Seus amigos</h1>
    <div class="catalogo">
        <div class="posts" ng-repeat="post in posts">
            <div class="post">     
                <img class="capa" ng-src="{{post.usuario.fotoPerfil}}">
                <div class="titulo-social"><strong>{{post.usuario.nome}}</strong></div>
                <div class="titulo-social">{{post.texto}}</div>
            </div>
            <div class="btn-curtir" ng-if="hasLiked(post.curtidas)  == false"><button ng-click="curtir(post.id)"><a href="">Curtir</a></button></div>
            <div class="btn-curtir" ng-if="hasLiked(post.curtidas)"><button ng-click="curtir(post.id)"><a href="">Descurtir</a></button></div>
            <div class="curtidas">{{post.curtidas.length}} curtidas</div>
        </div>
    </div>

    <div class="pages">
        <button class="float-left"><a href="" ng-click="voltar()">Anterior</a></button>
        <button class="float-right"><a href="" ng-click="avancar()">Próximo</a></button>
    </div>
</div>