<div class="nav">
    <div class="titulo-pagina">
        <a ng-href="#!/"><img src="https://files.slack.com/files-tmb/T4WL4EAU8-F63DLBYD8-a0c2a7ec95/logo_churras_480.png" alt="" width="100vw" height="60vw"></a>
    </div>
    <div class="borda-inferior">
        <span class="float-left"><a> </a></span>
        <span ng-if="!logado" class="center"><a ng-href="#!/registrar">Registrar-se</a></span>
    </div>
</div>

<div class="corpo">
    <form class="login">
        <h1 class="login-titulo">Login</h1>
        <div class="login-subtitulo">Bem vindo aos nossos domínios</div>
        <div class="row-login">
            <span class="label-login">E-mail</span>
            <input class="input-login" ng-model="usuario.email" type="e-mail">
        </div>
        <div class="row-login">
            <span class="label-login">Senha</span>
            <input class="input-login" ng-model="usuario.senha" type="password">
        </div>
        <div class="row-login">
            <button class="login-button" type="submit" ng-click="login()"><a href="">Entrar</a></button>
        </div>
        <div class="row-login">
            <div class="small-text-login">Não cadastrado? <a href="#!/registrar">Resolva isso já.</a></div>
        </div>
    </form>
</div>