<div class="nav">
    <div class="titulo-pagina">
        <a ng-href="#!/"><img src="https://files.slack.com/files-tmb/T4WL4EAU8-F63DLBYD8-a0c2a7ec95/logo_churras_480.png" alt="" width="100vw" height="60vw"></a>
    </div>
    <div class="borda-inferior">
        <span class="float-left"><a> </a></span>
        <span ng-if="!logado" class="center"><a ng-href="#!/login">Logar-se</a></span>
    </div>
</div>

<div class="corpo">
    <form class="login">
        <h1 class="login-titulo">Registrar-se</h1>
        <div class="login-subtitulo">Uma conta para a todos governar.</div>
        <div class="row-login">
            <span class="label-login">Foto</span>
            <input class="input-login" type="text" ng-model="usuario.fotoPerfil" placeholder="URL (opcional)">
        </div>
        <div class="row-login">
            <span class="label-login">Nome*</span>
            <input class="input-login" type="text" ng-model="usuario.nome" placeholder="Joaquim" required>
        </div>
        <div class="row-login">
            <span class="label-login">E-mail*</span>
            <input class="input-login" type="e-mail" ng-model="usuario.email" placeholder="exemplo@exemplo.com" required>
        </div>
        <div class="row-login">
            <span class="label-login">Senha*</span>
            <input class="input-login" type="password" ng-model="usuario.senha" placeholder="********" required>
        </div>
        <div class="row-login">
            <span class="label-login">Nasc.*</span>
            <input class="input-login" type="text" ng-model="usuario.dataNascimento" placeholder="dd/mm/aaaa" required>
        </div>
        <div class="row-login">
            <span class="label-login">Gênero*</span>
            <select class="input-login" ng-model="usuario.sexo" required> 
                <option value="n" selected>Não informado</option>
                <option value="m">Masculino</option>
                <option value="f">Feminino</option>
            </select>
        </div>
        <div class="row-login">
            <button class="login-button" ng-click="registrar()"><a href="">Registrar</a></button>
        </div>
        <div class="row-login">
            <div class="small-text-login">Ja é um de nós? <a href="#!/login">Cola aqui.</a></div>
        </div>
    </form>
</div>