<div class="nav">
    <div class="titulo-pagina">
        <h1><a ng-href="#!/">Já Procurou Imóvel?</a></h1>
    </div>
    <div class="borda-inferior">

    </div>
</div>

<div class="corpo">
    <form class="login">
        <h1 class="login-titulo">Login</h1>
        <div class="login-subtitulo">Bem vindo aos nossos domínios</div>
        <div class="row-login">
            <span class="label-login">E-mail</span>
            <input class="input-login" ng-model="usuario.email" type="e-mail">
        </div>
        <div class="row-login">
            <span class="label-login">Senha</span>
            <input class="input-login" ng-model="usuario.senha" type="password">
        </div>
        <div class="row-login">
            <button class="login-button" type="submit" ng-click="login(usuario)">Entrar</button>
        </div>
    </form>
</div>