<div class="nav">
    <div class="titulo-pagina">
        <h1><a ng-href="#!/">Já Procurou Imóvel?</a></h1>
    </div>
    <div class="borda-inferior">
        <span class="float-left"><a ng-href="#!/assinar">Assinar</a></span>
        <span ng-if="!logado" class="center"><a ng-href="#!/registrar">Registrar-se</a></span>
        <span ng-if="logado" class="center"><a ng-href="#!/crud">Área Administrativa</a></span>
        <span class="float-right"><a ng-if="!logado" ng-href="#!/login">Login</a></span>
        <span class="float-right" ng-if="logado">Olá, {{usuario.Nome}}</span>
    </div>
</div>

<div ng-if="estagio == 1" ng-include="'html/includes/registrar.html'"></div>
<div ng-if="estagio == 2" ng-include="'html/includes/produtos.html'"></div>