<div class="nav">
    <div class="titulo-pagina">
        <h1><a ng-href="#!/">Já Procurou Imóvel?</a></h1>
    </div>
    <div class="borda-inferior">
        <span class="float-left"><a ng-click="logout()" href="">Logout</a></span>
        <span class="float-right"><a ng-if="!logado" ng-href="#!/login">Login</a></span>
        <span class="float-right" ng-if="logado">Olá, {{usuario.Nome}}</span>
    </div>
</div>

<div ng-if="estagio == 1" ng-include="'html/includes/registrar.html'"></div>
<div ng-if="estagio == 2" ng-include="'html/includes/produtos.html'"></div>
<div ng-if="estagio == 3" ng-include="'html/includes/orcamento.html'"></div>