.indice {
    width:100%;
    margin: 10px 0px;
    text-align: left;
    padding-top:0px;
}

.catalogo {
    overflow-y: auto;
    overflow-x: initial;
}

.posts {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 60vw;
    margin : 60px;
    background-color: rgb(255,184,14);
    border-radius: 2vw;
}

.post {
    margin: auto;
    width: 55vw;
    text-align: center;
    color : rgb(152,33,33);
    padding-bottom : 30px;
    padding-top : 30px;
    min-height: 7vw;
}

.capa {
    height: 7vw;
    width : 7vw;
    float : left;
    margin-right: 5vw;
    border-radius : 2.5vw;
}

.titulo-social{
    font-size : 1.4vw;
    overflow-x: hidden;
}

.genero-livro{
    font-size : 1.25vw;
}

.autor-livro{
    font-size : 1.25vw;
}

.pages {
    width:20vw;
    margin:50px auto;
    font-size: 15px;
    margin-bottom: 50px;
    transform: translateY(-35px);
}

textarea{
    margin-top: 30px;
    width : 100%;
    resize: vertical; 
    border-radius: 1vw;
    font-size: 1.1vw;
}

.cabecalho-busca{
    width: 50vw;
    margin-left:auto;
    margin-right:auto; 
}

.lista{
    background-color : rgb(255,184,14);
    width: 50vw;
    margin-top: 70px;
    border-radius : 1vw;
    margin-left : auto;
    margin-right : auto;
}

.i-lista{
    font-size: 2.5vw;
    padding-left: 1vw;
    height: 7vw;
}

.i-lista .nome-usuario{
    display:inline-block;
    transform: translateY(2vw);
}

.i-lista .capa {
    height: 5vw;
    width : 5vw;
    border-radius: 2vw;
    margin: 1vw;
    display:inline-block;
}

.detalhe-pai {
    width: 80vw;
    height: 520px;
}

.capa-detalhes-livro {
    border-radius: 2vw;
}


/* lista para solicitacoes ja feitas*/
.lista2{
    background-color : rgb(255,184,14);
    width: 30vw;
    margin-top: 70px;
    border-radius : 0.8vw;
    margin-left : auto;
    margin-right : auto;
}

.i-lista2{
    font-size: 1.5vw;
    padding-left: 1vw;
    height:4vw;
}

.i-lista2 .nome-usuario{
    display:inline-block;
    transform: translateY(1vw);
}

.i-lista2 .capa {
    height: 3vw;
    width : 3vw;
    border-radius: 1vw;
    margin: 0.5vw;
    display:inline-block;
}

.curtidas{
    float:right;
    margin-right: 0.5vw;
}