<!DOCTYPE html>
<html ng-app="Exercicio1A2">
    <head>
        <title>Data Converter</title>
        <link href="style.css" rel="stylesheet">
        <script src="https://code.angularjs.org/1.6.4/angular.js"></script>
        <script src="script.js"></script>
    </head>
    <body ng-controller="convertDate">
        <h1>Super DataConverter.io</h1>
        <div class="input">
            <input type="text" input="text" placeholder="Ex: dd.mm.yyyy" ng-model="input">
            <button name="button" ng-click="convert()">Convert!</button>
        </div>
        <div class="output">
            <h2>{{output | date : 'mediumDate'}}</h2>
        </div>
        <div class="footer">Forgive us the layout, we are under maintenance</div>
    </body>
</html>