.container {
    margin : 50px auto;
    width : 60%;
    height : 195px;
    border: 2px groove;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

h5{
    margin:0px;
    text-align: center;
}

.input {
    text-align: center;
}

.output {
    text-align: center;
}

.footer {
    text-align: center;
}

ul {
    width: 15%;
    margin: 10px auto;
}