<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
        <script src="https://code.angularjs.org/1.6.4/angular.js"></script>
        <script src="script.js"></script>
    </head>
    <body ng-controller="Controller">
        <div class="corpo">
            <div class="sidebar">
            <h2>Cadastrar Instrutor</h2>
            <form novalidate name="Form">
                <div class="inside-sidebar">
                    <div class="input_block">
                        <label for="nome">Nome:</label>
                        <input class="input" type="text" name="nome" autofocus="true" ng-model="novoInstrutor.nome" ng-minlength="3" ng-maxlength="20" required>
                    </div>
                    <div class="input_block">
                        <label for="sobrenome">Sobrenome:</label>
                        <input class="input" type="text" name="sobrenome" ng-maxlength="30" ng-model="novoInstrutor.sobrenome">
                    </div>
                    <div class="input_block">
                        <label for="idade">Idade:</label>
                        <input class="input" type="number" name="idade" ng-model="novoInstrutor.idade">
                    </div>
                    <div class="input_block">
                        <label for="email">Email:</label>
                        <input class="input" type="text" name="email" ng-model="novoInstrutor.email" required>
                    </div>
                    <div class="input_block">
                        <label for="jaDeuAula">Já deu aula</label>
                        <input id="checkmark" class="input" type="checkbox" name="jaDeuAula" ng-model="novoInstrutor.jaDeuAula">
                    </div>
                    <div class="input_block">
                        <label for="disciplina">Disciplina</label>
                        <select class="input" name="disciplina" ng-model="novoInstrutor.disciplina" required>
                            <option selected disabled value="">Selecione...</option>
                            <option ng-repeat="disciplina in disciplinas">{{disciplina}}</option>
                        </select>
                    </div>

                        <button ng-click="incluir(novoInstrutor)">Incluir</button>
                </div>
            </form>
        </div>

            <table>
                <tr class="header">
                    <td>Nome</td>
                    <td>Idade</td>
                    <td>Email</td>
                    <td>Aula</td>
                    <td>Deu Aula</td>
                </tr>
                <tr ng-repeat="instrutor in instrutores">
                    <td>{{instrutor.nome + " " + instrutor.sobrenome}}</td>
                    <td>{{instrutor.idade}}</td>
                    <td>{{instrutor.email}}</td>
                    <td>{{instrutor.disciplina}}</td>
                    <td><input type="checkbox" name="jaDeuAula" ng-model="instrutor.jaDeuAula"></td>
                </tr>
            </table>
        </div>
    </body>
</html>