body {
	margin:0px;
	box-sizing: border-box;
}

.container {
	margin-bottom: 50px;
}

.footer {
	color:white;
	font-size: 30px;
	text-align: center;
	position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background: #009900;
}