.indice {
    width:100%;
    margin: 10px 15vw;
    text-align: left;
    padding-top:0px;
}

.welcome {
    margin-bottom: 5vw;
    width: 100%;
    text-align: center;
    padding-top: 0px;
}

.catalogo {
    overflow: auto;
}

.produtos {
    float: left;
    clear:right;
    display: inline-block;
    margin-left: 3vw;
    margin-right: 1vw;
    width: 20.5%;
    height: 300px;
    margin : 10px 2%;
}

.produto {
    text-align: center;
}

.nome-produto{
    font-size : 2vw;
}

.genero-livro{
    font-size : 1.25vw;
}

.autor-livro{
    font-size : 1.25vw;
}

.pages {
    width:20vw;
    margin:20px auto;
    font-size: 15px;
    margin-bottom: 50px;
    transform: translateY(-35px);
}

.table {
    width:60%;
    margin:2vw 18% 5vw;
    text-align:center;
}

.item-tabela {
    width: 30%;
    border: 2px groove lightgray;
    margin-top: 2vw;
    margin-bottom : 2vw;
    font-weight: bold;
}

.item-tabela-lista {
    border: 2px groove lightgray;
}

.row-form{
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: 3vw;
}

.row-form input {
    width: 60%;
    float: right;
    font-size: 1.2vw;
    border-radius: 0.3vw;
    border: 0.1vw solid lightblue;
    
    
}

.row-form span {
    width: 38%;
    float: left;
    font-size: 1.2vw;
}

.row-form span {
    width: 38%;
    float: left;
    font-size: 1.2vw;
}

.row-form input [type="input"] {
    height: 2vw;    
}

.row-divide {
    width:50% !important;
    margin-left : 24%;
}

