.login {
    margin-top: 50px; 
    margin-left: 30%;
    margin-right: 30%;
    border: 2px groove rgba(0,0,0, 0.1);
    padding: 2vw;
}

.login-titulo {
    text-align: center;
}

.login-subtitulo {
    text-align: center;
}

.row-login {
    margin: 30px 0px;
}

.input-login {
    font-size: 20px;
    display: inline-block;
}

.input-box {
    font-size: 20px;
    display: block;
    width:100%;
    height: 100px;
    overflow: auto;
}

.label-login {
    font-size: 24px;
    display: inline-block;
}

.login-button {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 24px;
}

.login-button-duble {
    display:inline-block;
    width: 30%;
    font-size: 24px;
}