.float-right{
    float: right;
}

.float-left{
    float: left;
}

.center{
    transform: translate(-50%,0px);
    position: absolute;
    left: 50%;
}

.medium-size-btn {
    font-size: 1.5vw;
    padding: 0.2vw 0.5vw;
}

.margin-bottom {
    margin-bottom: 50px;
}

.margin-top {
    margin-top: 50px;
}

button {
  margin-bottom:10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-family:arial,sans-serif;
  font-size:20px;
  text-transform:uppercase;
  font-weight:bold; 
  padding: 9px 20px 7px;
  text-align: center; 
  width: 134px;
  -webkit-box-shadow: #ccc 0px 4px 5px 0px;
  -moz-box-shadow: #ccc 0px 4px 5px 0px;
  box-shadow: #ccc 0px 4px 5px 0px;
  background: #2fb4e3;
  color:#fff;  
}

button:hover {
  background:#2ca8d4;
  -webkit-box-shadow: #bbb 0px 4px 5px 0px;
  -moz-box-shadow: #bbb 0px 4px 5px 0px;
  box-shadow: #bbb 0px 4px 5px 0px;
}

.abs-right {
    position: absolute;
    right:30vw;
}